* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --border-radius: 8px
}

body {
    width: 100vw;
    height: 100vh;
}

.main {
    height: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: space-around;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.menu {
    display: flex;
    flex-direction: column;
}

.gameModeButtons {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

button.gameMode {
    border-radius: var(--border-radius);
}

select#numberSelector {
    padding: 16px;
    font-size: 16px;
    border-radius: var(--border-radius);
}